<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
 -->

<div class="container">

  <div class="text-center">
    <h1>Book a Hotel Room with Us!</h1>
    <p class="lead">Offering locations wherever your next destination is!</p>
    <%= image_tag "hotel_room.jpg", class:"hotel_img" %>

  </div>


</div>
