<p id="notice"><%= notice %></p>
<%= link_to 'Create New Room', new_room_path(:hotel_id => (@hotel.id).to_s) %>
<br><br>
<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
