<html>
  <head>
    <title>Ehotel</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
  <section class="container">
    <h1 id="title"><b>Hotel Chains</b></h1>

    <div class="options">
    <a href="/chain/new"><button class="newButton">New Hotel Chain</button></a>
    <a href="/hotels/new"><button class="addButton"><i class="fas fa-plus"></i> Add Hotel</button></a>
    </div>
    <% @chains.each do |c| %>
        <div class="row">
              <%= c.name %>
              <% c.chain_emails.each do |e| %>
                  <%= e.email_address %>
              <% end %>
        </div>

    <% end %>
    <div class="row">

      <div class="column">
        <h2>Column</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mae.</p>
      </div>

      <div class="column">
        <h2>Column</h2>
        <p>Lorem ipsum dolor sit amet, consectnelerisque tortor sed accumsan convallis.</p>
      </div>
    </div>
    <section>

  </body>
</html>
